.landing-page {
  width: 100%;
  height: 100%;
  background-color: #071425;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden
}

.central-options {
  height: 70%;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  overflow: hidden;
  transition: 1s;
  z-index: 0;
}

.option-card {
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.option-image {
  width: 100%;
  height: 100%;
}

.option-text {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #0b2a53;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.option-title {font-size: calc(1rem + 0.75vw);}

.option-title, .option-description p {margin: 1rem 0;}

.option-description {
  max-height: 0;
  transition: 0.5s;
  padding: 0px 25px;
  margin: 0;
}

.option-description p {
  margin-top: 0;
  opacity: 0.7;
}

.option-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#left-nav, #right-nav {
  position: absolute;
  display: none;
  top: 50%;
  z-index: 2;
  opacity: 0;
  transition: 1s;
}

/* ! Footer Element */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3
}

.swipe-footer {margin-bottom: 20px;}

.swipe-contents {
  background-color: #444;
  width: 100%;
  overflow: hidden;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer-contents {padding: 40px 0;}

.footer-info {
  display: flex;
  align-items: center;
}

.option-card:hover {border: 1px solid white;}

@media only screen and (max-width: 600px) {
  .central-options {width: unset;}

  .option-card {width: 75vw;}

  .swipe-footer {margin-bottom: 10px;}

  #left-nav, #right-nav {
    display: block;
    opacity: 1;
  }

  #left-nav {left: 5%}

  #right-nav {right: 5%;}

  .footer-main {flex-direction: column;}

  .footer-info, .footer-links {width: 100%;}

}

@media (orientation: landscape) and (max-width: 1024px) {
  .swipe-footer {margin-bottom: 10px;}

  .footer-contents {padding: 10px 0;}
}
