{% extends "base.html" %}
{% load static %}
{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/construction.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/components/footer.css' %}">
{% endblock %}

{% block content %}
    <div class="construction">
        <div class="construction-container">
            <div class="construction-message">
                <h2>Under Construction</h2>
                <p>This Area Of Central Will Be With You Shortly, Follow Our Socials To See When They Are Released:</p>
            </div>
            <div class="construction-links">
                <a href="https://discord.gg/zhGq7jn" class="mdi mdi-discord"></a>
                <a href="https://twitter.com/bookofpe" class="mdi mdi-twitter"></a>
                <a href="https://www.linkedin.com/in/fidel-elie-0aa25712a/" class="mdi mdi-linkedin"></a>
                <a href="https://www.github.com/fidelElie/" class="mdi mdi-github"></a>
                <a href="mailto:fidel.elie@australa.co" class="mdi mdi-email"></a>
            </div>
            <div class="construction-navigation">
                <button id="back-button">Back To Central</button>
            </div>
        </div>
    </div>
    {% include 'components/footer.html' %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        document.getElementById("back-button").addEventListener("click", function() {
            window.location = "/"
        })
    </script>
{% endblock %}

