{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/components/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/components/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'esports/styles/components/searchbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'esports/styles/esports.css' %}">
{% endblock %}

{% block title %}SMITE Esports - SMITE Games Without The Spoilers{% endblock %}

{% block content %}
    {% include "esports/components/navbar-esports.html" %}
    {% include "esports/components/searchbar.html" %}
    <div class="hero-background">
        <div class="esports-images">
            {% for image in images %}
                <img class="slideshow-image" alt="{{ image.title }}" src="{{ image.image.url }}">
            {% endfor %}
        </div>
        <div class="slideshow-overlay"></div>
        <div class="slide-timer"></div>
    </div>
    <div class="block">
        <span class="mdi mdi-chevron-down" id="down-scroll"></span>
    </div>
    <div class="error-overflow"></div>
    <div class="youtube-subscribe">
        <h2>Don't Forget To <a href="https://www.youtube.com/channel/{{ channel_id }}?sub_confirmation=1" class="subscribe-button">Subscribe</a> to SMITE VOD.</h2>
    </div>
    <div class="about-section">
        <h2>The Smite Esports Experience</h2>
        <div class="about-contents">
            <div class="about-card">
                <h3>Spoilers At A Minimum</h3>
                <p>Video Progress bars are hidden by default. Never see the length of the games, unless you want to.</p>
            </div>
            <div class="about-card">
                <h3>All Games, One Place</h3>
                <p>Games are sorted by their league with a search function to find the games you want.</p>
            </div>
            <div class="about-card">
                <h3>Clean Game Parts</h3>
                <p>Muli-part games are shown cleanly as one. You have the option to navigate through them when your are ready.</p>
            </div>
            <div class="about-card">
                <h3>Custom YouTube Player</h3>
                <p>Find all the controls that you are accustomed to. Slow down your favorite plays, jump through the video with ease.</p>
            </div>
        </div>
    </div>
    <div class="leagues-section">
        <h2>The Leagues</h2>
        <div class="leagues">
            {% for info in esports_info %}
                <div class="league-container">
                    <div class="league-plate">
                        <a href="{% url 'league' info.league.id %}">
                            <img src="{{ info.logo }}">
                        </a>
                    </div>
                    <h3 class="season-banner">{{ info.league.tagline }}</h3>
                    <div class="season-options">
                        {% for year in info.seasons %}
                            <a href="{% url 'season' year.id 1 %}" class="season-card">
                                Season {{ year.season }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include 'components/footer.html' %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'esports/js/components/searchbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'esports/js/esports.js' %}"></script>
{% endblock %}
