{% extends 'esports/layouts/gallery.html' %}
{% load static %}

{% block links %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'esports/styles/search.css' %}">
    </link>
{% endblock %}

{% block content %}
    <div class="gallery-topbar">
        <div class="topbar-container">
            <div class="topbar-title">
                <a href="{% url 'esports' %}"><h1>Search Results: {{ query }}</h1></a>
            </div>
            <div class="topbar-extras">
                <span class="mdi mdi-magnify" id="search-button"></span>
                <span class="mdi mdi-home-variant" id="home-button"></span>
            </div>
        </div>
    </div>
    {% include 'esports/components/searchbar.html' %}
    {{ block.super }}
    {% include 'components/footer.html' %}
{% endblock %}

{% block gallery_results %}
    {% for result in  page.object_list %}
        <a href="{% url 'match' result.id %}" class="match-card">
            <img src="{{ result.thumbnail }}"></img>
            <div class="card-information">
                <h2>{{result.competition.league.code}}<br>Season<br>{{ result.competition.season }}</h2>
                <h3>{{ result.title }}</h3>
            </div>
        </a>
    {% empty %}
        <h2 class="no-results">Sorry No Results Were Found</h2>
    {% endfor %}
{% endblock %}

{% block page-form %}
    {% url 'search' %}
{% endblock %}


