{% extends 'esports/layouts/gallery.html' %}
{% load static %}

{% block title %}SMITE Esports - {{ league }} Season {{ season }}{% endblock %}

{% block content %}
    <div class="gallery-topbar">
        <div class="topbar-container">
            <div class="topbar-title">
                <h1>{{ league }} {{ season }}</h1>
            </div>
            <div class="topbar-extras">
                <span class="mdi mdi-magnify" id="search-button"></span>
                <span class="mdi mdi-home-variant" id="home-button"></span>
            </div>
        </div>
    </div>
    {% include 'esports/components/searchbar.html' %}
    {{ block.super }}
    {% include 'components/footer.html' %}
{% endblock %}

{% block gallery_results %}
    {% for result in  page.object_list %}
        <a href="{% url 'match' result.id %}" class="match-card">
            <img src="{{ result.thumbnail }}"></img>
            <p>{{ result.title }}</p>
        </a>
    {% empty %}
        <h2 class="no-results">Sorry No Results Were Found</h2>
    {% endfor %}
{% endblock %}

{% block page-form %}
    {% url 'season' id %}
{% endblock %}
