/* ! Main Player Elements */
.player-contents {
  width: 80%;
  height: 80%;
  transition: 1.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 1;
}

.fullscreen {
  width: 100% !important;
  height: 100% !important;
  z-index: 5 !important;
}

#player {
  width: 100%;
  height: 100%;
}

/* ! Player Progress Bar Elements */

.player-progress {
  height: 0px;
  width: 100%;
  position: relative;
  cursor: pointer;
  background-color: #1a58a8;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}

.player-progress.shown {height: 10px;}

.progress-indicator, .progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
}

.progress-indicator {
  background-color: #444;
  transition: opacity 0.5s visibility 0.5s;
  opacity: 0
}

.progress-bar {
  background-color: white;
  border-right: 1px white solid;
}

/* ! Player Controls Elements */
.player-controls {
  position: relative;
  width: 100%;
  background-color: #0b2a53;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  padding: 15px;
}

.player-tooltips {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-tooltips span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.left-aligned-controls, .right-aligned-controls {
  display: flex;
  align-items: center;
}

.left-aligned-controls {
  justify-content: flex-start;
  flex-grow: 1;
}

.right-aligned-controls {justify-content: flex-end;}

.control-group {display: flex;}

.control-group > span {
  margin: 0 10px;
  position: relative;
  transition: 1s;
}

.control-range {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.control-range input {
  display: block;
  margin: 0 10px;
  transition: 0.5s;
  opacity: 1;
  width: 50px;
}

/* ! Tooltip Elements */

.tooltip, .progress-tooltip {
  background-color: #444;
  border-radius: 5px;
  color: #fff;
  position: absolute;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s
}

.progress-tooltip {
  bottom: 20px;
  transition: 0.5s;
}

/* ! General Manipulation */

.hidden {display: none !important;}

.collapsed {display: none;}

.not-visible {
  visibility: hidden !important;
  opacity: 0 !important;
}

.visible {
  opacity: 1 !important;
  visibility: visible !important;
}


/* ! Media Queries */
@media (hover: hover) {
  .control-group span:hover {color: #007bff}
}

@media only screen and (max-width: 600px) {
  .player-contents {width: 95%;}

  .player-controls {flex-direction: column;}

  #player {height: 55%;}

  .player-controls {height: unset;}

  .left-aligned-controls, .right-aligned-controls {
    flex-direction: row;
    margin: 5px 0;
  }

  .control-group {justify-content: center;}
}

@media (orientation: landscape) and (max-width: 1024px) {
  .player-contents {
    width: 75%;
    height: 70%;
  }

  .control-group > span {margin: 0 10px;}

  .control-range input {width: 35px;}

  .fullscreen {
    width: 100%;
    height: 100%;
  }
}
