.footer-section {
  width: 100%;
  padding: 50px 0;
  background-color: #444;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-contents {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-main {
  width: 100%;
  display: flex;
}

.footer-info, .footer-apps {
  width: 50%;
}

.footer-info p {
  font-family: "Bebas Neue", cursive;
  margin: 10px 0;
}

.footer-apps {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.footer-apps p {
  font-size: calc(1.2rem + 1vw);
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
  margin: 10px 0;
}

.footer-links a {
  margin: 10px;
  transition: 0.5s;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links a {
  margin: 10px;
  font-size: calc(1rem + 1vw);
  margin-left: 0;
  transition: 0.5s;
}

.central-tag {
  font-family: "Bebas Neue", cursive;
  font-size: calc(1.2rem + 1vw);
  margin: 0 10px;
  font-weight: bold;
  transition: 0.5s;
}

.social-links a:hover, .central-tag:hover, .footer-links a:hover {
  color: #007bff
}

.footer-divider {
  margin: 25px 0;
  width: 100%;
  background-color: #fff;
  height: 0.5px;
}

.footer-bottom {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

.copyright-tag {
  font-family: "Bebas Neue", cursive;
  color: rgba(255, 255, 255, 50%)
}

.site-links {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.site-links a {
  margin: 10px;
  color: rgba(255, 255, 255, 50%);
  transition: 0.5s;
}

.site-links a:hover {
  color: #fff;
}

#home-button:hover {
  color: #007bff;
}

@media (hover: hover) {
  #down-scroll:hover {
    color: #007bff;
  }

  .navbar-links #esports-search:hover {
    color: #007bff;
  }
}

@media only screen and (max-width: 600px) {
  .footer-contents {
    width: 90%
  }

  .footer-main {
    flex-direction: column;
  }

  .footer-apps, .footer-info {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .social-links, .footer-links {
    justify-content: center;
  }

  .footer-bottom {
    flex-direction: column-reverse;
  }

}

@media (orientation: landscape) and (max-width: 1024px) {
  .footer-contents {
    width: 80%;
  }

  .footer-info, .footer-apps {
    width: unset
  }

  .footer-info {
    flex-grow: 1;
  }

  .footer-links {
    flex-direction: column;
  }

  .footer-links a {
    margin: 0;
  }
}
