{% extends "base.html" %}
{% load static %}

{% block links %}
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <link rel="stylesheet" type="text/css" href="{% static 'central/styles/central.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/components/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/components/footer.css' %}">
{% endblock %}

{% block title %}SMITE Central{% endblock %}
{% block content %}
    {% include "central/components/navbar.html" %}
    <span class="mdi mdi-chevron-left" id="left-nav"></span>
    <span class="mdi mdi-chevron-right" id="right-nav"></span>
    <div class="landing-page">
        <div class="central-options">
        <div class="option-card" id="toxicity">
                <div class="option-image">
                    <img src="{% static 'images/toxic-current-yemoja.jpg' %}">
                </div>
                <div class="option-text">
                    <h2 class="option-title">Smite Toxicity</h2>
                    <div class="option-description">
                        <p>Look At The Pantheon Of Toxicity, Are You A Saint In the Community Or A Sinner?</p>
                    </div>
                </div>
            </div>
            <div class="option-card" id="esports">
                <div class="option-image">
                    <img src="{% static 'images/jaguar-footballer-xbalanque.jpg' %}">
                </div>
                <div class="option-text">
                    <h2 class="option-title">Smite Esports</h2>
                    <div class="option-description">
                        <p>Watch The Highest Level Of Competition Without The Spoilers.</p>
                    </div>
                </div>
            </div>
            <div class="option-card" id="builder">
                <div class="option-image">
                    <img src="{% static 'images/chef-vulcan-vulcan.jpg' %}">
                </div>
                <div class="option-text">
                    <h2 class="option-title">Smite Builder</h2>
                    <div class="option-description">
                        <p>Make Builds, Cook Up Your God Recipes For Farming Them.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <span class="mdi mdi-chevron-double-up swipe-footer"></span>
        <div class="swipe-contents">
            <div class="footer-contents">
                <div class="footer-main">
                    <div class="footer-info">
                        <div class="social-links">
                            <a href="https://discord.gg/zhGq7jn" class="mdi mdi-discord"></a>
                            <a href="https://www.facebook.com/" class="mdi mdi-facebook"></a>
                            <a href="https://www.twitter.com/" class="mdi mdi-twitter"></a>
                            <a href="https://www.linkedin.com/" class="mdi mdi-linkedin"></a>
                            <a href="https://www.github.com/fidelElie/" class="mdi mdi-github"></a>
                        </div>
                    </div>
                    <div class="footer-apps">
                        <p>The Apps</p>
                        <div class="footer-links">
                            <a href="{% url 'esports' %}">Esports</a>
                            <a href="{% url 'builder' %}">Builder</a>
                            <a href="{% url 'toxic' %}">Toxicity</a>
                        </div>
                    </div>
                </div>
                <hr class="footer-divider">
                <div class="footer-bottom">
                    <p class="copyright-tag">Copyright &copy; Fidel Pierre Elie - 2020</p>
                    <div class="site-links">
                        <a href="{% url 'admin:login' %}">Admin Login</a>
                        <a href="{% url 'privacy' %}">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'central/js/central.js' %}"></script>
{% endblock %}



