<div class="footer-section">
    <div class="footer-contents">
        <div class="footer-main">
            <div class="footer-info">
                <p>This App Is Part Of <a href="{% url 'central' %}" class="central-tag">Smite Central</a></p>
                <div class="social-links">
                    <a href="https://www.facebook.com/" class="mdi mdi-facebook"></a>
                    <a href="https://www.twitter.com/" class="mdi mdi-twitter"></a>
                    <a href="https://www.linkedin.com/" class="mdi mdi-linkedin"></a>
                    <a href="https://www.github.com/fidelElie/" class="mdi mdi-github"></a>
                </div>
            </div>
            <div class="footer-links">
                <h3>The SC Apps</h3>
                <a href="{% url 'esports' %}">ESPORTS</a>
                <a href="{% url 'builder' %}">BUILDER</a>
                <a href="{% url 'toxic' %}">TOXICITY</a>
            </div>
        </div>
        <div class="copyright-tag">
            <p>Copyright &copy; Fidel Elie 2020; All Rights Reserved</p>
        </div>
    </div>
</div>
</div>
