<div class="footer-section">
    <div class="footer-contents">
        <div class="footer-main">
            <div class="footer-info">
                <p>This App Is Part Of <a href="{% url 'central' %}" class="central-tag">Smite Central</a></p>
                <div class="social-links">
                    <a href="https://www.facebook.com/" class="mdi mdi-facebook"></a>
                    <a href="https://www.twitter.com/" class="mdi mdi-twitter"></a>
                    <a href="https://www.linkedin.com/" class="mdi mdi-linkedin"></a>
                    <a href="https://www.github.com/fidelElie/" class="mdi mdi-github"></a>
                    <a href="mailto:fidel.elie@australa.co" class="mdi mdi-email"></a>
                </div>
            </div>
            <div class="footer-apps">
                <p>The Apps</p>
                <div class="footer-links">
                    <a href="{% url 'esports' %}">Esports</a>
                    <a href="{% url 'builder' %}">Builder</a>
                    <a href="{% url 'toxic' %}">Toxicity</a>
                </div>
            </div>
        </div>
        <hr class="footer-divider">
        <div class="footer-bottom">
            <p class="copyright-tag">Copyright &copy; Fidel Pierre Elie 2020</p>
            <div class="site-links">
                <a href="{% url 'admin:login' %}">Admin Login</a>
                <a href="{% url 'privacy' %}">Privacy Policy</a>
            </div>
        </div>
    </div>
</div>
