/* ! Edited Navbar */
.navbar {
  position: absolute;
  width: 100%;
  top : 0;
  z-index: 4;
  padding: 1% 0;
}

.navbar-container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo, .navbar-links {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-logo {justify-content: flex-start;}

/* ! Edited Searchbar Component */
.searchbar {
  position: absolute;
  left: 0;
  top: 9vh;
  z-index: 4;
}

/* ! Page Contents */
.hero-background {
  position: relative;
  width: 100%;
  height: 92.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-background .esports-images {
  width: 100%;
  height: 100%;
}

.hero-background .slideshow-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.slide-timer {
  position: absolute;
  bottom: 5%;
  left: 5%;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  color: black;
  height: calc(0.9rem + 0.5vw);
  width: calc(0.9rem + 0.5vw);
  text-align: center;
  line-height: calc(0.9rem + 0.5vw);
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.5);
}

.latest-container {
  position: absolute;
  bottom: 5%;
  right: 5%;
  transform: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.latest-container .season-banner {
  width: 100%;
  margin: 0;
}

.latest-leagues a {flex-grow: 1;}

.latest-leagues {
  display: flex;
  align-items: center;
  justify-content: center;
}

.latest-leagues a {flex-grow: 1;}

.esports-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.esports-images img.active {
  visibility: visible;
  opacity: 1;
}

.block {
  background-color: #071425;
  height: 7.5%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block span {cursor: pointer;}

.error-overflow {width: 100%;}

.youtube-subscribe {
  position: relative;
  padding: 50px 0;
  background-color: #0d3972;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.subscribe-button {
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  color: #0d3972;
  margin: 0 15px;
  transition: 0.5s;
}

.subscribe-button:hover {color: #007bff}

.about-section {
  background-color: #14335c;
  width: 100%;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-contents {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(4, auto [col-start]);
  gap: 25px;
  justify-items: center;
  justify-content: center;
}

.about-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  color: black;
  padding: 25px;
  text-align: center;
}

.about-card h3 {
  opacity: 0.8;
  font-size: calc(1rem + 0.65vw);
}

.about-card h3, .about-card p {margin: 1rem 0;}

.about-card p {
  margin-top: 0;
  opacity: 0.6
}

.leagues-section {
  background-color: #071425;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.leagues {
  display: flex;
  width: 75%;
  border-radius: 10px;
  flex-wrap: wrap;
}

.league-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 25px 0;
}

.league-plate {
  width: 75%;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 15px;
}

.league-plate img {
  width: 100%;
  height: 100%;
}

.season-banner {
  background-color: #14335c;
  border-radius: 10px;
  padding: 15px 0;
  text-align: center;
  width: 75%;
  margin: 15px;
}

.season-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 75%;
}

.season-card, .latest-leagues a {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  color: black;
  margin: 10px 5px;
  cursor: pointer;
  padding: 15px;
  border: 1px solid white;
  box-sizing: border-box;
  transition: 0.5s;
}

.season-card:hover {color: #007bff;}

.latest-leagues a:hover {color: #007bff;}

/* ! Media Queries */

@media only screen and (max-width: 600px) {
  .navbar-container {width: 90%;}

  .slide-timer {
    left: 50%;
    transform: translateX(-50%);
    bottom: 25%;
  }

  .latest-container {
    bottom: 2.5%;
    right: 50%;
    transform: translateX(50%);
  }

  .latest-container .season-banner {padding: 10px 0;}

  .latest-leagues a {padding: 10px;}

  .leagues {width: 85%;}

  .league-container {
    width: 100%;
    margin: 0;
  }

  .season-banner {width: 100%;}

  .leagues, .swc-container {flex-direction: column;}

  .league-plate {
    width: 100%;
    margin: 0;
  }

  .season-options {
    width: 100%;
    margin-bottom: 25px
  }

  .season-card {margin: 5px 5px;}

  .about-contents {width: 85%;}

  .about-section {padding: 50px 0;}

  .about-contents {grid-template-columns: repeat(1, auto [col-start]);}

  .about-card {padding: 15px;}

  .league-header {padding-top: 25px;}

  .youtube-subscribe {
    padding: 25px 25px;
    line-height: 3rem;
    padding-top: 50px;
  }

  .youtube-subscribe h2 {margin: 0;}

  .subscribe-button {margin: 0 10px;}
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .about-contents {grid-template-columns: repeat(2, auto [col-start]);}

  .leagues {
    margin: 0;
    width: 90%;
  }

  .slide-timer {position: absolute}
}

@media (orientation: landscape) and (max-width: 1024px) {
  .about-section {padding: 50px 0;}

  .about-contents {
    width: 90%;
    grid-template-columns: repeat(2, auto [col-start]);
  }

  .league-section {padding: 50px 0;}

  .navbar {padding: 2% 0;}

  .latest-container .season-banner {padding: 5px 0;}

  .latest-leagues a {padding: 5px;}

  .league-plate, .season-banner, .season-options {width: 90%;}

  .season-card {padding: 6px;}

  .hero-background {height: 87.5%;}

  .block {height: 12.5%;}
}
