.match-card {
  border-radius: 0px 0px 10px 15px;
}


.card-information {
  width: 100%;
  display: flex;
  flex-grow: 1;
}

.card-information h2 {
  padding: 10px;
  margin: 0;
  border-radius: 0px 0px 0px 10px;
  background-color: #444;
}

.card-information h3 {
  flex-grow: 1;
  color: #444;
  margin: 0;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .topbar-container {
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 90%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .topbar-container {
    width: 90%;
  }
}


